
  a {
    cursor: pointer;
}

.reset-pwd-parent-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-pwd-logo {
  text-align: center;
}
.focaloid-logo {
  width: 130px;
}

.logo {
  text-align: center;
}

.reset-pwd-mat-button {
  background-color: #b20f0f;
  color: #fff;
}

@media (max-width: 1199.98px) {
  .reset-pwd-parent-div {
    width: 80% !important;
  }
}



