<div class="reset-pwd-parent-div w-25">
    <mat-card class="reset-pwd-child-div">
      <div class="logo">
        <img
          class="img-fluid focaloid-logo mb-3"
          src="../../assets/images/fcl_img.png"
          alt="focaloid"
        />
      </div>
      <div class="password-field">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your new password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!-- conform pawd -->
      <div class="password-field">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="reset-pwd-btn">
        <button class="w-100 reset-pwd-mat-button" mat-raised-button>Submit</button>
      </div>
    </mat-card>
  </div>
  
