<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <mat-card class="w-25">
        <h1 class="mat-h4 text-center">Login</h1>
        <div class="text-field-container">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="example@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="password-field">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="remember-me-checkbox">
          <mat-checkbox class="example-margin">Remember me</mat-checkbox>
        </div>
        <div class="forgot-password">
            <p><a class="stretched-link position-relative">Forgot password ?</a></p>
        </div>
        <div class="login-btn">
            <button class="w-100" mat-raised-button color="accent">Login</button>
        </div>
        <div class="sign-up mt-2">
            <p>Don't have an account ?<a (click) = 'signup()' class="stretched-link position-relative"> signup here</a></p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
