<div class="container">
  <div class="row parent-div">
    <div class="col-lg-12">
      <mat-card>
        <!-- <h1 class="mat-h4 text-center">Register</h1> -->
        <!-- <div class="logo">
          <img
            class="img-fluid focaloid-logo mb-3"
            src="../../assets/images/fcl_img.png"
            alt="focaloid"
          />
        </div> -->
        <div class="first-name">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div class="last-name">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Last name</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div class="email">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="example@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="mobile-number">
            <mat-form-field
              hintLabel="Max 10 Digits"
              appearance="fill"
              class="w-100"
            >
              <mat-label>Mobile number</mat-label>
              <input
                matInput
                class="mobile"
                #input
                maxlength="10"
                placeholder="Ex. 9999999999"
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
            </mat-form-field>
          </div>
          <div class="resume-upload">
            <mat-form-field class="file-upload-filed w-100">
              <div class="filebrowser">
                <mat-toolbar>
                  <!-- Readonly Input to show File names -->
                  <input
                    matInput
                    [(ngModel)]="filename"
                    readonly
                    name="memberContactNo"
                  />
  
                  <!-- Browse Button -->
                  <button
                    class="file-upload-button"
                    mat-flat-button
                    color="primary"
                  >
                    Choose file
                  </button>
                </mat-toolbar>
  
                <!-- Fetch selected filed on change -->
                <input
                  type="file"
                  #UploadFileInput
                  id="fileUpload"
                  (change)="fileChangeEvent($event)"
                  name="fileUpload"
                  multiple="multiple"
                  accept=".pdf,.docx,.doc"
                />
              </div>
            </mat-form-field>
          </div>
          <div class="submit-btn mt-3">
            <button class="register-mat-button w-100" mat-raised-button color="accent">
              Submit
            </button>
          </div>
      </mat-card>
    </div>
  </div>
</div>
