
    <div class="interview-management-div w-75">
      <mat-card class="example-card interview-management-card">
        <mat-card-header>
          <mat-card-title>Employee Name</mat-card-title>
          <mat-card-subtitle>email : employee@example.com</mat-card-subtitle>
          <mat-card-subtitle>phone : +91 7767787678</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select>
              <mat-option *ngFor="let status of allstatus" [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
          <button mat-button color='accent'>Add comment</button>
        </mat-card-actions>
      </mat-card>
    </div>

